:root {
    --font-family: sans-serif;
    --blue: #367fff;
    --blue-hover: #669dfd;
    --dark-gray: #415058;
    --light-gray: #BBBBBB;
    --gray: #a7a7a7;
    --content-color: #737373;
    --subtitle-color: #737373;
    --content-line-height: 28px;
    --red: rgb(255, 71, 71);
    --red-hover: rgb(255, 123, 123);
    --green: rgb(54, 172, 54);
    --green-hover: rgb(98, 185, 98);
    --lg-green: linear-gradient(to bottom right, rgb(46, 145, 46), rgb(87, 190, 87))
}

.color {
    color: rgb(87, 190, 87);
}

.home {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}

.main-page {
    display: block;
    width: 100%
}

.outlet {
    overflow-y: overlay;
    height: calc(93% - 140px);
}