:root {
    --font-family: sans-serif;
    --blue: #367fff;
    --dark-gray: #3c3c3c;
    --light-gray: #BBBBBB;
    --gray: #a7a7a7;
    --content-color: #737373;
    --subtitle-color: #5d5d5d;
    --content-line-height: 25px;
}

.home {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-page {
    display: block;
    width: 100%
}