.model-pg-content {
    margin-left: 20px;
    margin-right: 50px;
    font-family: var(--font-family);
}

.model-pg-title {
    color: var(--dark-gray);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.model-pg-head {
    color: var(--subtitle-color);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

.model-pg-text {
    color: var(--content-color);
    line-height: var(--content-line-height);
    text-indent: 20px;
}

.switch-tab {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}