.model-pg-content {
    margin-left: 20px;
    margin-right: 50px;
    font-family: var(--font-family);
}

.model-pg-title {
    color: var(--dark-gray);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.model-pg-head {
    color: var(--subtitle-color);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

.model-pg-text {
    color: var(--content-color);
    line-height: var(--content-line-height);
    text-indent: 20px;
}

.model-pg-projects {
    display: flex;
    color: var(--content-color);
    line-height: var(--content-line-height);
    border-bottom: 1px dashed var(--light-gray);
    padding-bottom: 5px;
    padding-top: 5px;
}

.model-pg-project-title {
    width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-pg-project-more-btn {
    color: var(--blue);
    cursor: pointer;
}

.model-pg-project-more-btn:hover {
    color: var(--blue-hover)
}

.switch-tab {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.file-dropbox {
    margin-top: 10px;
    opacity: 100;
    transition: 0.3s;
}

.file-dropbox-close {
    margin-top: 10px;
    opacity: 0;
    transition: 0.3s;
}

.data-not-saved-note {
    color: var(--red);
    height: 21px;
    margin-top: 20px;
    cursor: default;
    transition: 0.3s;
}

.data-not-saved-note:hover {
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.data-not-saved-note-close {
    color: var(--red);
    height: 21px;
    overflow: hidden;
    margin-top: 0px;
    opacity: 0;
    transition: 0.3s;
}

.data-info {
    margin-top: 10px;
    height: 19px;
    color: var(--content-color);
    transition: 0.3s;
}

.data-info-close {
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
    color: var(--content-color);
    opacity: 0;
    transition: 0.3s;
}

.link {
    color: var(--blue);
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    color: var(--blue-hover);
    transition: 0.3s;
}

.success {
    margin-top: 20px;
    text-align: center;
    height: 300px;
    font-size: 30px;
    transition: 0.3s;
}

.success-close {
    margin-top: 0px;
    text-align: center;
    height: 0;
    font-size: 10px;
    opacity: 0;
    transition: 0.3s;
}

.success-info {
    background: var(--lg-green);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-family: var(--font-family);
}

.confirm-btn-area {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.confirm-btn {
    border: 1px solid var(--green);
    border-radius: 10px;
    color: var(--green);
    font-size: 20px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.confirm-btn:hover {
    border: 1px solid var(--green-hover);
    color: var(--green-hover);
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}

.result-btn {
    margin-left: 20px;
    border: 1px solid var(--blue);
    border-radius: 10px;
    color: var(--blue);
    font-size: 20px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.result-btn:hover {
    border: 1px solid var(--blue-hover);
    color: var(--blue-hover);
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}

.upload-btn-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    /* border: 1px solid black; */
}

.upload-btn {
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 10px;
    color: var(--blue);
    font-size: 16px;
    width: 70px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-btn:hover {
    border: 1px solid var(--blue-hover);
    color: var(--blue-hover);
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}

.clear-btn {
    margin-left: 20px;
    text-align: center;
    border: 1px solid var(--red);
    border-radius: 10px;
    color: var(--red);
    font-size: 16px;
    width: 70px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.clear-btn:hover {
    border: 1px solid var(--red-hover);
    color: var(--red-hover);
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}