

.navibar-content {
    /* border: 1px solid black; */
    display: flex;
    margin: 0px 50px 20px 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--light-gray);
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--dark-gray)
}

.path {
    margin-right: 10px;
    color: var(--gray);
    cursor: pointer;
}

.path-last {
    color: var(--dark-gray)
}

.right-arrow {
    margin-right: 10px;
}