@import url('Home.css');

.proj-pg-content {
    margin-left: 20px;
    margin-right: 50px;
    font-family: var(--font-family);
    animation: fade-in 0.5s;
}

.proj-pg-title {
    color: var(--dark-gray);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.proj-pg-head {
    color: var(--subtitle-color);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

.proj-pg-text {
    color: var(--content-color);
    line-height: var(--content-line-height);
    text-indent: 20px;
}

.proj-model {
    display: flex;
    color: var(--content-color);
    line-height: var(--content-line-height);
    border-bottom: 1px dashed var(--light-gray);
    padding-bottom: 5px;
    padding-top: 5px;
}

.proj-model-name {
    width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.proj-model-more-btn {
    color: var(--blue);
    cursor: pointer;
}

.proj-model-more-btn:hover {
    color: var(--blue-hover)
}
