:root {
    --search-bar-content-margin: 12%;
    --search-input-color: rgb(132, 132, 132);
    --search-bar-background-color: rgb(245, 245, 245);
}

.search-bar-content {
    display: flex;
    margin: 35px var(--search-bar-content-margin) 25px var(--search-bar-content-margin);
    /* border: 1px solid black; */
}

.search-bar {
    display: flex;
    background-color: var(--search-bar-background-color);
    height: 50px;
    width: 85%;
    border-radius: 25px;
    line-height: 50px;
    color:var(--search-input-color);
}

.search-icon {
    margin-left: 13px;
    margin-right: 7px;
    font-size: 20px;
}

.search {
    height: 25px;
    margin-top: 12px;
    width: calc(100% - 70px);
    background-color: var(--search-bar-background-color);
    border: 0px;
    outline: none;
    color: var(--search-input-color);
    font-size: 16px;
}

.search-btn {
    width: 15%;
    line-height: 50px;
    text-align: center;
}