.layout {
    justify-content: center;
    width: 200px;
    height: 93.5%;
    border-right: 1px dashed var(--light-gray);
    margin-right: 30px;
    padding: 30px;
    transition: 0.5s;
}

.layout-closed {
    justify-content: center;
    width: 80px;
    height: 100%;
    border-right: 1px dashed var(--light-gray);
    margin-right: 30px;
    padding: 10px;
    transition: 0.5s;
}

.close-btn {
    position: absolute;
    z-index: 5;
    top: 33px;
    left: 235px;
    width: 50px;
    height: 50px;
    border: 1px dashed var(--light-gray);
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    background-color: white;
    text-align: center;
    line-height: 50px;
    color: var(--light-gray);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.close-btn:hover {
    background-color: rgb(245, 245, 245);
}

.close-btn-closed {
    position: absolute;
    z-index: 5;
    top: 33px;
    left: 75px;
    width: 50px;
    height: 50px;
    border: 1px dashed var(--light-gray);
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    background-color: white;
    text-align: center;
    line-height: 50px;
    color: var(--light-gray);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.close-btn-closed:hover {
    background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 750px) {
    .layout-closed {
        width: 0px;
        padding: 0px;
        border: 0px dashed var(--light-gray);
        overflow: hidden;
    }

    .close-btn-closed {
        left: -5px;
    }
}

.sidebar-logo {
    position: absolute;
    text-align: center;
    top: 45px;
    left: 30px;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    transition: opacity 0.7s ease-in-out;
    color: var(--dark-gray)
}


.sidebar-logo-out {
    position: absolute;
    text-align: center;
    top: 45px;
    left: 30px;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}


.login-box {
    background-color: var(--blue);
    color: white;
    margin-top: 80px;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 350;
    cursor: pointer;
    transition: 0.4s;
}

.login-box:hover {
    background-color: var(--blue-hover);
    transition: 0.2s;
}

.login-box-closed {
    background-color: var(--blue);
    color: white;
    margin-top: 80px;
    margin-left: 5px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 350;
    cursor: pointer;
    transition: 0.4s;
}

.login-box-closed:hover {
    background: var(--blue-hover);
    color: white;
    transition: 0.2s;
}

.login-box-prime {
    background: var(--lg-gold);
    color: white;
    margin-top: 80px;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 350;
    filter: drop-shadow(1px 1px 10px rgb(255, 233, 87));
    cursor: pointer;
    transition: 0.4s;
}

.login-box-prime:hover {
    background: var(--lg-gold-hover);
}

.login-box-prime-closed {
    background: var(--lg-gold);
    color: white;
    margin-top: 80px;
    margin-left: 5px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 350;
    cursor: pointer;
    transition: 0.4s;
}

.login-box-prime-closed:hover {
    background: var(--lg-gold-hover);
}

.userinfo {
    overflow: hidden;
    height: 80px;
}

.userinfo-closed {
    height: 80px;
    font-size: 25px;
}

.side-btns {
    margin-top: 30px;
    color: var(--dark-gray);
}

.side-btn {
    display: flex;
    margin-top: 15px;
    padding-left: 10px;
    /* border: 1px solid black; */
    height: 65px;
    line-height: 65px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .login-box-closed {
        height: 0px;
        width: 0px;
        opacity: 0;
        transition: 0.4s;
    }
}

.side-btn:hover {
    background-color: #e6e6e6;
    transition: 0.3s;
}

.side-btn-disabled {
    display: flex;
    margin-top: 15px;
    padding-left: 10px;
    /* border: 1px solid black; */
    height: 65px;
    line-height: 65px;
    border-radius: 8px;
}

.tab-icon {
    color: var(--dark-gray);
    font-size: 18px;
    transition: 0.3s;
}

.tab-icon-closed {
    color: var(--dark-gray);
    font-size: 25px;
    margin-left: 17px;
    transition: 0.3s;
}

.tab-icon-disabled {
    color: var(--light-gray);
    font-size: 18px;
    transition: 0.3s;
}

.tab-icon-disabled-closed {
    color: var(--light-gray);
    font-size: 25px;
    margin-left: 17px;
    transition: 0.3s;
}


.tab-text {
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--dark-gray);
    transition: 0.3s;
}

.tab-text-closed {
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--dark-gray);
    opacity: 0;
    transition: 0.3s;
}

.tab-text-disabled {
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--light-gray);
    transition: 0.3s;
}

.tab-text-disabled-closed {
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--light-gray);
    opacity: 0;
    transition: 0.3s;
}

.logout {
    /* background-color: black; */
    position: absolute;
    bottom: 30px;
    width: 180px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    margin-left: 0px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover {
    color: var(--red-hover);
    border: 1px solid var(--red-hover);
    background-color: rgb(255, 242, 242);
    transition: 0.3s;
}

.logout-closed {
    position: absolute;
    bottom: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0px;
    margin-left: 8px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 750px) {
    .logout-closed {
        height: 0px;
        width: 0px;
        margin: 0px;
        line-height: 0px;
        opacity: 0;
    }
}

.logout-closed:hover {
    color: var(--red-hover);
    border: 1px solid var(--red-hover);
    background-color: rgb(255, 242, 242);
    transition: 0.3s;
}