.ui-content {
    margin-left: 20px;
    margin-right: 50px;
    font-family: var(--font-family);
}

.ui-table {
    margin-top: 20px;
    height: auto;
    transition: 0.3s;
}

.ui-table-folded {
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

.ui-title {
    margin-top: 20px;
    color: var(--subtitle-color);
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.ui-greeting {
    margin-bottom: 30px;
    color: var(--blue);
    font-size: 30px;
}

.ui-text {
    margin-top: 20px;
}

.res-pg-btn {
    background-color: var(--blue);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.delete-job-btn {
    background-color: var(--red);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.delete-job-btn-disabled {
    background-color: var(--light-gray);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: default;
}

.delete-job-btn:hover {
    background-color: var(--red-hover);
}

.status {
    background-color: rgb(241, 241, 255);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: var(--blue);
    border-radius: 5px;
    border: 0.8px solid var(--blue);
}

.status-done {
    background-color: rgb(241, 255, 241);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: var(--green);
    border-radius: 5px;
    border: 0.8px solid var(--green);
}

.status-failed {
    background-color: rgb(255, 245, 245);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: var(--red);
    border-radius: 5px;
    border: 0.8px solid var(--red);
}

.com-btn-area {
    display: flex;
}

.com-btn {
    background-color: var(--blue);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.com-btn:hover {
    background-color: var(--blue-hover);
}

.com-delete-btn {
    background-color: var(--red);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.com-delete-btn:hover {
    background-color: var(--red-hover);
}